.tabela {
  width: 80%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 0 auto;
  place-items: center;
}

.casa {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 9999px;
  
  aspect-ratio: 1 / 1;
  width: 50px;
  height: auto;
  font-weight: bold;
}

.ativa {
  background-color: yellow;
}